<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/telematics_icon"
        android:label="@string/suprateletrack"
        android:roundIcon="@drawable/telematics_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.NTele"
        tools:targetApi="31">
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".AlertSettings"
            android:exported="false" />

        <meta-data
            android:name="com.mappls.sdk.maps.ACCESS_TOKEN"
            android:value="20b2c7a2d61fa8e3c0f04cc4c3f5cbb3" />

        <activity
            android:name=".BottomNavigationDrawer"
            android:exported="false"></activity>
        <activity
            android:name=".AboutVehicle"
            android:exported="false" />
        <activity
            android:name=".EmailOTPVerification"
            android:exported="false" />
        <activity
            android:name=".UserDetails"
            android:exported="false" />
        <activity
            android:name=".OTPVerificationPage"
            android:exported="false" />
        <activity
            android:name=".RegistrationPage"
            android:exported="false" />
        <activity
            android:name=".LoginOrRegistration"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginPage"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>